img[src="img/clock/face-bk.png"] {
    content:url("../assets/clocks/samsung-touchwiz4-classic/face-bk.png");
}

img[src="img/clock/arrow-hour.png"] {
    content:url("../assets/clocks/samsung-touchwiz4-classic/arrow-hour.png");
}

img[src="img/clock/arrow-min.png"] {
    content:url("../assets/clocks/samsung-touchwiz4-classic/arrow-min.png");
}

img[src="img/clock/arrow-sec.png"] {
    content:url("../assets/clocks/samsung-touchwiz4-classic/arrow-sec.png");
}
